# Python
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend - lo necesitaremos después
node_modules/
.next/
.pytest_cache/
